@using Microsoft.AspNetCore.Http;
@model SelectedRoomViewModel
@{
	ViewData["Title"] = "Room";
}
<script type="text/javascript">
          var playerNickname = '@Context.Session.GetString("playerNickname")';
</script>

<h6>Room : @Model.Room.RoomName</h6>

<br />
<br />

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<div class="row">
				<h4>Players</h4>
			</div>
			<div class="row" id="listOfPlayers">
				@foreach (Player player in Model.Room.Players)
				{
					<div class="col-1">@player.Nickname</div>
				}
			</div>
		</div>
		<div class="col-md-4 border border-warning mx-0 px-0">
			<span>drag&drop elements to set your gamefield</span>
			@{
				int index = 0;
				string imgPath;

				for (int i = 0; i < GameSettings.NumberOfRows; i++)
				{
					<div class="row no-gutters justify-content-center mx-0 px-0">

						@for (int j = 0; j < GameSettings.NumberOfColumns; j++)
						{
							<div id="@i _@j">

								@{
									imgPath = @Model.Player.GameField[index].ToString() + ".png";
								}
								<div id="_@index" class="img-fluid">
									<input asp-for="@Model.Player.GameField[index]" value="@Model.Player.GameField[index]" type="hidden" />
									<img id="@i -@j" class="img-fluid" src="~/resources/@imgPath" alt="" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)" />
								</div>

							</div>
							index++;
						}

					</div>
				}
			}
		</div>
		<partial name="_ChatPartial" />
	</div>
</div>

@section Scripts
{
	<script src="~/js/setGameField.js"></script>
	<script src="~/js/signalr/dist/browser/signalr.js"></script>
	<script src="~/js/chat.js"></script>
	<script src="~/js/room.js"></script>
}