@model Player

@{
	ViewData["Title"] = "SetGameFields";
}

<h1>SetGameFields</h1>
<br />

@Model.Nickname
<br />
<br />

@Html.ValidationSummary(false, "", new { @class = "text-danger" })
<div class="container">
	<form asp-action="SetGameFields">

		@{
			int index = 0;
			string imgPath;

			for (int i = 0; i < GameSettings.NumberOfRows; i++)
			{
				<div class="row">

					@for (int j = 0; j < GameSettings.NumberOfColumns; j++)
					{
						<div id="@i _@j" class="col-1 border border-warning text-center">

							@{
								imgPath = @Model.GameField[index].ToString() + ".jpg";
							}
							<div id="_@index" class="img-fluid">
								<input asp-for="@Model.GameField[index]" value="@Model.GameField[index]" type="hidden" />
								<img id="@i -@j" class="img-fluid" src="~/resources/@imgPath" alt="" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)" />
							</div>

						</div>
						index++;
					}

				</div>
			}
		}
		<hr />
		<div class="row">
			<div class="offset-6 col-6 col-md-1">
				<button type="submit" class="btn btn-dark text-center text-light">Submit</button>
			</div>
		</div>
	</form>


</div>





